body{
  margin: 0;
  padding: 0;
  background-color: rgb(154, 206, 255);
}
main {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  width: 33ch;
  padding-block: 1rem;
  margin-inline: auto;
  margin-top: 2rem;

  margin-bottom: 2rem;
  border-radius: 1.5rem;
  padding: 1rem
}
.container > img {
  margin-right: 1rem;
  border-radius: 1.3rem;
}

.container > h1 {
  font-size: 22px;
  text-align: center;
}

.container > P {
  text-align: center;
}

.attribution {
  color: white;
  font-size: 18px;
  font-family: 'arial';
  width: 100%;
  background-color: gray;
  margin-bottom: 0;
  text-align: center;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
}
.attribution > a {
  color: white;
  text-decoration: none;
  background-color: rgb(0, 0, 107);
  border-radius: 0.20rem;
  margin: 0.25rem;
  padding: 0.28rem;
}
